@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Roboto:wght@400;700&display=swap');

body{
  background:black;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1,h2,h3, p.lead{
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

h1{
  text-align: center;  
}

h2{
  text-align: center;
  font-style: italic;
}

h4{
  font-size:0.8rem;
}

h5{
  font-size:1rem;
  color:silver;
}


section{margin:20px 0;z-index:1}.device,.mobile{display:none!important}.fullContent{width:100%}button,input,select,textarea{outline:0}select{border:0;border:1px solid #000;border-radius:0;background-image:url(../svg/select.svg);background-size:20px;background-position:95% center;-webkit-appearance:none;-moz-appearance:none;appearance:none;width:200px;user-select:none}.moreGraphics ul li a
section.intro p{position:relative}
section.intro{text-align:center}
section.intro .cover{background-size:cover;background-position:center;background-repeat:no-repeat}button{border:0;border:1px solid #000;border-radius:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;user-select:none}button.current{color:#fff;background-color:#000}section.intro .cover{width:100%;height:40vw;max-height:740px;background-image:url(../img/cover.jpg);margin:40px 0 20px}section.intro h1{font-size:50px;margin:40px auto;width:100%;line-height:1.2em}section.intro p{margin:0 auto;max-width:425px;text-align:left;color:#8e8e8e;font-family:Merriweather,serif;line-height:25px;font-size:19px;font-weight:400}section.intro p .autor,section.intro p.date{font-family:Roboto,sans-serif;text-transform:uppercase}section.intro p.date{font-size:.85em;margin-bottom:10px;color:#989898}section.intro p .autor{position:absolute;left:-150px;text-align:right;font-size:11px;width:100px;transform-origin:100% 0;line-height:1.1em;color:#000;text-decoration:none}section.intro a:hover{opacity:.8}section.intro p .autor.au2{top:121px}section.intro p .autor .pic{width:50px;height:50px;overflow:hidden;border-radius:100%;margin-right:-10px}section.intro p .autor .pic img{width:50px}section.intro p .autor .name{font-weight:800}section.intro p .autor .title{font-weight:100}.centred{text-align:center}section .article{max-width:425px;margin:0 auto;position:relative}section .article h3{margin-top:45px}section .article p{font-weight:100;font-size:16px;line-height:1.5;margin:25px 0}section a{font-weight:700}section .article .svgGraphic{width:100%;margin:15px 0 30px}.article .related{width:100%;max-width:300px;position:relative;margin:80px 0}.article .related .wrapper{width:100%;margin-left:100px;position:relative;border-left:1px solid #d0d0d0;padding-left:30px}.article .related .wrapper:before{content:'Related story';position:absolute;top:25%;left:-90px;color:gray;font-weight:100;font-size:15px;width:50px}.article .related .wrapper a .date{color:#6b6869;font-weight:100;font-size:14px}.article

/* COVER */
#cover{
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    z-index: -1;
}
#cover .layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
#cover .back{background-image: url(img/layers_back.jpeg);}
#cover .over{background-image: url(img/layers_top.png);}
#cover ul{
    position: absolute;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    
    bottom: 270px;
    left: -200px;
    -webkit-transform: rotate(-17deg);
    -moz-transform: rotate(-17deg);
    -ms-transform: rotate(-17deg);
    -o-transform: rotate(-17deg);
    transform: rotate(-17deg);
}
#cover ul li{
    height: 300px;
    width: 1100px;
    position: absolute;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 0;
}
#cover ul li.lg{opacity: 0;}

#cover ul .st0{left: 0px;background-image: url(img/section_0_lg.png);}
#cover ul .st1{left: 1100px;background-image: url(img/section_1_lg.png);}
#cover ul .st2{left: -1100px;background-image: url(img/section_2_lg.png);}
